<template>
  <div class="payment-success-page">
    <div>
      <transition
        name="payment-success-page-hero-"
        appear
      >
        <div class="payment-success-page-hero">
          <img
            class="payment-success-page-hero__bg"
            src="~/assets/images/civic/radial-blast.svg"
          >

          <div class="payment-success-page-hero__avatar">
            <lc-avatar
              :src="getUserInfo.avatar"
              size="144"
              halo="civic-liker"
            />
          </div>
        </div>
      </transition>

      <div class="payment-success-page-receipt">
        <div class="payment-success-page-receipt__header bg-like-gradient">
          <TickIcon
            class="w-48 h-48 fill-current text-like-cyan"
          />
          <div class="text-like-green">
            {{ $t('PaymentSuccessPage.heading') }}
          </div>
        </div>
        <div class="payment-success-page-receipt__body">
          <p>{{ $t('PaymentSuccessPage.body') }}</p>

          <div class="mt-24 phone:mx-32 laptop:mx-64 desktop:mx-64">
            <a
              v-if="isPopup"
              href="#"
              class="mx-auto my-0 btn btn--outlined btn--block max-w-3 laptop:max-w-2/3 desktop:max-w-2/3 "
              @click.prevent="onClickClose"
            > {{ getCloseButtonText }}</a>
            <NuxtLink
              v-else
              class="mx-auto my-0 btn btn--outlined btn--block max-w-3 laptop:max-w-2/3 desktop:max-w-2/3 "
              :to="getHomeRoute"
            > {{ $t('PaymentSuccessPage.continue') }}</NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import { getPayPalPaymentAPI } from '@/util/api';
import { logTrackerEvent } from '~/util/EventLogger';

import TickIcon from '~/assets/icons/tick.svg?inline';

const parse = require('url-parse');

export default {
  components: {
    TickIcon,
  },
  data() {
    return {
      isPopup: '',
    };
  },
  middleware: 'authenticated',
  computed: {
    ...mapGetters(['getUserInfo', 'getHomeRoute']),
    getCloseButtonText() {
      if (this.isPopup && this.isPopup !== '1') {
        try {
          const { hostname } = parse(this.isPopup);
          if (hostname) {
            return this.$t('PaymentSuccessPage.backToPreviousSite', {
              hostname,
            });
          }
        } catch (err) {
          console.error(err); // eslint-disable-line no-console
        }
      }
      return this.$t('PaymentSuccessPage.backToPrevious');
    },
  },
  head() {
    return {
      title: this.$t('PaymentSuccessPage.title'),
    };
  },
  async mounted() {
    let from;
    let referrer;
    let utmSource;
    let isPopup;
    logTrackerEvent(
      this,
      'Civic',
      'CivicPaymentSuccess',
      'CivicPaymentSuccess(paypal)',
      1
    );
    if (window.sessionStorage) {
      from = window.sessionStorage.getItem('civicLikerFrom');
      referrer = window.sessionStorage.getItem('civicLikerReferrer');
      utmSource = window.sessionStorage.getItem('civicLikerUtmSource');
      isPopup = window.sessionStorage.getItem('civicLikerIsPopup');
      if (isPopup) this.isPopup = isPopup;
    }
    try {
      await this.$api.$post(getPayPalPaymentAPI(), {
        version: 2,
        from,
        referrer,
        utmSource,
        ...this.$route.query,
      });
      this.setUserCivicLiker();
      logTrackerEvent(
        this,
        'Civic',
        'CivicRegisterComplete',
        'CivicRegisterComplete(paypal)',
        1
      );
      if (!this.isPopup) {
        setTimeout(() => {
          this.$router.push({
            name: 'index',
          });
        }, 3000);
      }
    } catch (err) {
      console.error(err); // eslint-disable-line no-console
      throw err;
    }
  },
  methods: {
    ...mapActions(['setUserCivicLiker']),
    onClickClose() {
      if (window.sessionStorage) {
        window.sessionStorage.removeItem('civicLikerIsPopUp');
      }
      window.close();
      /* HACK: Don't stuck user if close didn't work */
      setTimeout(() => {
        this.$router.push({
          name: 'index',
        });
      }, 3000);
    },
  },
};
</script>

<style lang="scss">
.payment-success-page {
  @apply bg-gray-f7;

  @apply items-center;

  > div {
    @apply w-full;
    @apply max-w-phone;
  }

  &-hero {
    padding-top: 60%;

    @apply relative;
    @apply overflow-hidden;

    @apply max-w-phone;
    @apply w-full;

    &__bg {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      @apply absolute;
    }

    &__avatar {
      @apply absolute;
      @apply inset-0;

      @apply flex;
      @apply justify-center;
      @apply items-center;
    }

    &__header {
      @apply p-8;
    }
  }

  &-receipt {
    @apply relative;
    @apply z-10;
    @apply overflow-hidden;
    @apply rounded-[8px];

    @apply bg-white;

    @apply mx-24;

    &__header {
      @apply text-16;
      @apply text-center;

      @apply pt-16 px-24 pb-8;
    }

    &__body {
      @apply text-gray-4a;
      @apply text-12;

      @apply p-32;
      @apply pt-16;

      > p {
        @apply leading-2;
      }
    }
  }
}
</style>
