<template lang="pug">
  section
    svg.mx-40.hidden(class="laptop:block phone:mx-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 952 526")
      rect(y="292" width="952" height="234" rx="18" fill="#28646e")
      path(d="M195 .17h546v361H195z" fill="none")
      image(x="423" y="70" width="106" height="100" xlink:href="~/assets/images/civic-liker-icon.png" preserveAspectRatio="xMinYMin slice")
      foreignObject(y="200" width="952" height="60")
        .text-center.text-like-green.text-24 {{ $t('civicLiker') }}
      g(fill="none" stroke="#50e3c2" stroke-linecap="round")
        path(d="M726.7 437.58c-5.7 1.37-9.53 5.8-8.55 9.88a7.4 7.4 0 004.19 4.45c1.42.44 2.41 3.92 1.16 4.82 2.53-1.32 4-2.26 5.17-4.07a14.54 14.54 0 001.6-.3c5.7-1.37 9.53-5.8 8.54-9.88s-6.4-6.28-12.11-4.9zM917.22 224.7l5-2a6.83 6.83 0 003.89-8.83h0L922.3 204a1.61 1.61 0 00-2.08-.92h0l-14.77 5.74a1.61 1.61 0 00-.91 2.08l3.84 9.9a6.84 6.84 0 008.84 3.9zM905.21 213.8l-1.76.69a4.08 4.08 0 003 7.6l1.76-.69" stroke-linejoin="round" stroke-width="4")
        path(d="M890.47 60.9a10.56 10.56 0 11-13.92 5.41h0a10.56 10.56 0 0113.92-5.41z" stroke-miterlimit="10" stroke-width="4")
        path(d="M889.35 78.63l-5.47-7.16-.8-9 5.47 7.16zM883.88 71.47l4.67-1.81M878.81 67.31l1.38.6M892.24 73.22l1.38.6M889.47 63.16l-.6 1.38M883.56 76.59L883 78M869.48 408.23a6 6 0 00-4.88-.68c-1.55.52-3.15 1.9-2.81 3.7.37 2 1.88 2.21 2.91 2.31a45.57 45.57 0 014.66.42 3.17 3.17 0 01.51 6.06c-1.27.61-3.54 1.33-6.87-.48M864.65 404.74l4.27 17.71" stroke-miterlimit="10" stroke-width="2")
        path(d="M881.44 410.06a15.5 15.5 0 11-18.7-11.43 15.5 15.5 0 0118.7 11.43zM840.19 154.73a13.48 13.48 0 11-16.91-8.8 13.48 13.48 0 0116.91 8.8z" stroke-miterlimit="10" stroke-width="4")
        path(d="M837.82 150.3c7.21-1.23 12.39-.93 13 1.07.95 3-8.8 8.79-21.78 12.88s-24.28 5-25.23 1.95c-.63-2 3.45-5.22 10-8.35M818.31 323.79l-8.73 3.4a2 2 0 01-2.57-1.13 1.94 1.94 0 010-1.55L811 316l23.74-22.42a5.37 5.37 0 017.37 7.8z" stroke-miterlimit="10" stroke-width="4")
        path(d="M810.3 320.35l4.07 4.32M812 315.2l3.77.3-.45 3.92 3.93-.23.12 3.81M820.41 314.4L837 298.78" stroke-miterlimit="10" stroke-width="2")
      g(fill="#50e3c2")
        ClientOnly
          path(
            v-if="$i18n.locale === 'en'"
            d="M89.9 352.35c-.1 4.9-.1 9.85-.1 14.95v2.55c0 4.9 0 9.85.1 14.8l5.5.55v1.8H78.35v-1.8l5.5-.55c.15-4.85.15-9.8.15-14.8v-2.55c0-4.95 0-9.95-.15-14.95h-8.2l-1.85 7.8h-2.7l.4-10h30.75l.4 10H100l-1.85-7.8zM113.4 367.35c1.65-4.7 4.9-7.4 8-7.4 1.85 0 3.6.75 4.2 2.5 0 2.3-1 3.8-3.2 3.8a5 5 0 01-3.65-1.95l-.65-.65c-2.2 1.7-3.65 4-4.7 7.55v4.2c0 2.6 0 6.5.1 9.3l4.65.7v1.6H104.1v-1.6l3.85-.55c.1-2.85.15-6.85.15-9.45v-3.2c0-3.15-.1-5.05-.2-7.35l-4.2-.4V363l8.45-2.95.75.5zM153.15 384.6a5.16 5.16 0 01-5.05 3 4.89 4.89 0 01-5.1-4.35c-2.9 2.95-4.85 4.45-8.35 4.45-4.1 0-7.2-2.4-7.2-6.7 0-3.7 2.1-6.15 9.4-8.65 1.7-.5 3.9-1.15 6-1.65v-2c0-5.35-1.45-6.8-5.2-6.8a10.94 10.94 0 00-3 .4l-.85 3.7c-.4 2.1-1.45 3.1-3 3.1a2.4 2.4 0 01-2.65-2.2c.85-4.3 4.9-6.95 11.05-6.95s8.85 2.7 8.85 9.55v12.3c0 2.5.75 3.3 1.9 3.3.9 0 1.45-.4 2.3-1.4zm-10.3-12.25c-1.8.5-3.5 1-4.55 1.45-4.4 1.75-5.55 3.95-5.55 6.45 0 2.95 1.75 4.25 4.25 4.25 1.8 0 3.05-.7 5.85-2.95zM184.2 385.4v1.6l-9 .55-.35-3.55a9.64 9.64 0 01-7.75 3.75c-6.6 0-11.35-5.45-11.35-13.7 0-8.7 5.1-14.1 11.9-14.1a8.89 8.89 0 017.25 3.5V350.4l-4.5-.4v-1.55l9.1-2.15.75.4-.25 7.8V385zm-9.5-20.1c-2.1-1.8-3.85-2.45-5.55-2.45-4.15 0-7.7 3-7.7 11 0 7.8 3.25 10.95 7.6 10.95 2.15 0 3.75-.7 5.65-2.65zM193.25 373.65c.15 7.45 3.9 10.9 9.05 10.9a9 9 0 007.7-3.85l1 .7a11.24 11.24 0 01-10.5 6.35c-7.55 0-12.9-5.05-12.9-13.85 0-8.65 6.2-13.95 13-13.95 6.35 0 10.55 4.3 10.55 10.65a10.43 10.43 0 01-.35 3zm9.85-1.95c2.3 0 2.85-1.15 2.85-3.25 0-3.7-2.35-6.55-5.75-6.55-3.25 0-6.5 3-6.9 9.8zM254.3 384.6a5.16 5.16 0 01-5.05 3 4.89 4.89 0 01-5.1-4.35c-2.9 2.95-4.85 4.45-8.35 4.45-4.1 0-7.2-2.4-7.2-6.7 0-3.7 2.1-6.15 9.4-8.65 1.7-.5 3.9-1.15 6-1.65v-2c0-5.35-1.45-6.8-5.2-6.8a10.94 10.94 0 00-3 .4l-.8 3.7c-.4 2.1-1.45 3.1-3 3.1a2.4 2.4 0 01-2.65-2.2c.85-4.3 4.9-6.95 11.05-6.95s8.85 2.7 8.85 9.55v12.3c0 2.5.75 3.3 1.9 3.3.9 0 1.45-.4 2.3-1.4zM244 372.35c-1.8.5-3.5 1-4.55 1.45-4.4 1.75-5.55 3.95-5.55 6.45 0 2.95 1.75 4.25 4.25 4.25 1.8 0 3-.7 5.85-2.95zM292.75 381.15c-1.8 4.2-5.3 6.6-10.5 6.6-7.45 0-12.7-5.25-12.7-13.85 0-8.85 6.25-13.95 13.4-13.95 5 0 9 3 9.75 7.15a2.5 2.5 0 01-2.65 2.15c-1.75 0-2.8-1.05-3.15-3.1l-.9-3.85a8.13 8.13 0 00-2.65-.4c-4.85 0-8.2 4.2-8.2 11.45s3.75 11.2 9.05 11.2a8.86 8.86 0 007.5-3.9zM297 373.85c0-9 6.2-13.9 13-13.9s12.95 4.85 12.95 13.9-6 13.9-12.95 13.9-13-4.9-13-13.9zm20.15 0c0-7.9-2.7-12-7.15-12s-7.15 4.1-7.15 12 2.6 11.85 7.15 11.85 7.1-3.95 7.1-11.8zM348.3 360.6c.5-5.8 1.75-9.05 4.1-11.5a10.7 10.7 0 018-3.35c2.65 0 4.95.85 5.5 3.05-.05 1.5-1.25 2.6-3.2 2.6-1.55 0-2.75-.65-4.1-2.3l-1.3-1.3a5.78 5.78 0 00-1.85 1.8c-1.3 2.15-2 5.4-1.9 11.1h7.4v2.3h-7.3v12.4c0 3.1 0 6.25.1 9.35l4.95.65v1.6H344v-1.6l4.15-.55q.15-4.73.15-9.45V363h-11.6v12.4c0 3.1.05 6.25.1 9.35l4.7.65v1.6H327v-1.6l4.2-.55q.15-4.73.15-9.45V363h-4.45v-1.8l4.5-.55c.45-6 1.85-9.1 4.15-11.5a10.8 10.8 0 018-3.35c2.7 0 4.8.85 5.35 3 0 1.45-1.1 2.55-3 2.55a5.4 5.4 0 01-4.15-2.2l-1.3-1.25a5.6 5.6 0 00-1.95 1.95c-1.3 2.1-2 5.3-1.85 10.9h11zM369 373.65c.15 7.45 3.9 10.9 9.05 10.9a9 9 0 007.65-3.85l1 .7a11.24 11.24 0 01-10.5 6.35c-7.55 0-12.9-5.05-12.9-13.85 0-8.65 6.2-13.95 13-13.95 6.35 0 10.55 4.3 10.55 10.65a10.43 10.43 0 01-.35 3zm9.85-1.95c2.3 0 2.85-1.15 2.85-3.25 0-3.7-2.35-6.55-5.75-6.55-3.25 0-6.5 3-6.9 9.8zM397.2 373.65c.15 7.45 3.9 10.9 9.05 10.9a9 9 0 007.65-3.85l1 .7a11.24 11.24 0 01-10.5 6.35c-7.55 0-12.9-5.05-12.9-13.85 0-8.65 6.2-13.95 13-13.95 6.35 0 10.55 4.3 10.55 10.65a10.43 10.43 0 01-.35 3zm9.85-1.95c2.3 0 2.85-1.15 2.85-3.25 0-3.7-2.35-6.55-5.75-6.55-3.25 0-6.5 3-6.9 9.8zM76.2 434.6c.45-5.8 1.75-9.05 4.1-11.5a10.7 10.7 0 018-3.35c2.65 0 5 .85 5.5 3.05 0 1.5-1.25 2.6-3.2 2.6-1.55 0-2.75-.65-4.1-2.3l-1.3-1.3a5.78 5.78 0 00-1.85 1.8c-1.35 2.15-2 5.4-1.9 11.1h7.4v2.3H81.5v12.4c0 3.1 0 6.25.1 9.35l4.9.65v1.6H71.8v-1.6l4.2-.55q.15-4.73.15-9.45V437H71.7v-1.8zM91.15 447.85c0-9 6.2-13.9 13-13.9s12.95 4.85 12.95 13.9-6 13.9-12.95 13.9-13-4.9-13-13.9zm20.15 0c0-7.9-2.7-12-7.15-12S97 440 97 447.9s2.6 11.85 7.15 11.85 7.15-4 7.15-11.85zM130.8 441.35c1.65-4.7 4.9-7.4 8-7.4 1.85 0 3.6.75 4.2 2.5-.05 2.3-1 3.8-3.2 3.8a5 5 0 01-3.65-1.95l-.65-.65c-2.2 1.7-3.65 4-4.7 7.55v4.2c0 2.6 0 6.5.1 9.3l4.65.7v1.6H121.5v-1.6l3.85-.55c.1-2.85.15-6.85.15-9.45v-3.2c0-3.15-.1-5.05-.2-7.35l-4.2-.4V437l8.45-2.95.75.5zM184.05 458.6a5.16 5.16 0 01-5.05 3 4.89 4.89 0 01-5.1-4.35c-2.9 2.95-4.85 4.45-8.35 4.45-4.1 0-7.2-2.4-7.2-6.7 0-3.7 2.1-6.15 9.4-8.65 1.7-.5 3.9-1.15 6-1.65v-2c0-5.35-1.45-6.8-5.2-6.8a10.94 10.94 0 00-3 .4l-.85 3.7c-.4 2.1-1.45 3.1-3 3.1a2.4 2.4 0 01-2.65-2.2c.85-4.3 4.9-6.95 11.05-6.95s8.85 2.7 8.85 9.55v12.3c0 2.5.75 3.3 1.9 3.3.9 0 1.45-.4 2.3-1.4zm-10.3-12.25c-1.8.5-3.5 1-4.55 1.45-4.4 1.75-5.55 3.95-5.55 6.45 0 2.95 1.75 4.25 4.25 4.25 1.8 0 3-.7 5.85-2.95zM208.15 437.9a11.28 11.28 0 018.45-3.9c6.05 0 10.6 5 10.6 13.7 0 8.25-4.55 14.1-11.25 14.1a9.7 9.7 0 01-7.85-3.8l-.6 3.6-8.6-.55v-1.6l3.95-.6c.05-2.8.1-6.8.1-9.4v-25l-4.3-.4v-1.55l8.95-2.15.7.4-.15 7.85zm.1 18.25a8.62 8.62 0 006.05 2.65c3.85 0 7.2-2.9 7.2-10.95 0-7.5-2.9-11.05-7-11.05-1.75 0-3.65.4-6.25 2.75zM237.5 447.65c.15 7.45 3.9 10.9 9.05 10.9a9 9 0 007.65-3.85l1 .7a11.24 11.24 0 01-10.5 6.35c-7.55 0-12.9-5.05-12.9-13.85 0-8.65 6.2-13.95 13-13.95 6.35 0 10.55 4.3 10.55 10.65a10.43 10.43 0 01-.35 3zm9.85-1.95c2.3 0 2.85-1.15 2.85-3.25 0-3.7-2.35-6.55-5.75-6.55-3.25 0-6.5 3-6.9 9.8zM276.1 458.6a7.72 7.72 0 01-6.7 3.15c-4.2 0-6.55-2.15-6.55-6.75v-18h-4.55v-1.8l4.85-.55 1.7-7.65h3.6l-.25 7.75h7.05V437h-7.1v18c0 2.85 1.25 4.05 3.25 4.05a5.89 5.89 0 003.65-1.55zM294.85 458.6a7.72 7.72 0 01-6.7 3.15c-4.2 0-6.55-2.15-6.55-6.75v-18h-4.5v-1.8l4.85-.55 1.7-7.65h3.6l-.25 7.7h7.05v2.3H287v18c0 2.85 1.25 4.05 3.25 4.05a5.89 5.89 0 003.65-1.55zM303 447.65c.15 7.45 3.9 10.9 9.05 10.9a9 9 0 007.65-3.85l1 .7a11.24 11.24 0 01-10.5 6.35c-7.55 0-12.9-5.05-12.9-13.85 0-8.65 6.2-13.95 13-13.95 6.35 0 10.55 4.3 10.55 10.65a10.43 10.43 0 01-.35 3zm9.85-1.95c2.3 0 2.85-1.15 2.85-3.25 0-3.7-2.35-6.55-5.75-6.55-3.25 0-6.5 3-6.9 9.8zM334.65 441.35c1.65-4.7 4.9-7.4 8-7.4 1.85 0 3.6.75 4.2 2.5-.05 2.3-1 3.8-3.2 3.8a5 5 0 01-3.65-1.95l-.65-.65c-2.2 1.7-3.65 4-4.7 7.55v4.2c0 2.6.05 6.5.1 9.3l4.65.7v1.6h-14v-1.6l3.85-.55c.1-2.85.15-6.85.15-9.45v-3.2c0-3.15-.1-5.05-.2-7.35l-4.2-.4V437l8.4-3 .75.5zM402 436.4l-3.15.6-8.3 24.3h-2.25c-4.2-11.15-5.95-16.1-7.15-20.05l-7.3 20.05h-2.3l-8.9-24.45-3-.45v-1.7h13v1.7l-4.25.5 5.9 18.15 6.3-18.1-4.05-.55v-1.7h12.1v1.7l-4.15.6 6.5 17.9 5.4-17.85-4.45-.65v-1.7H402zM403.49 447.85c0-9 6.21-13.9 13-13.9s12.95 4.85 12.95 13.9-6.05 13.9-12.95 13.9-13-4.9-13-13.9zm20.16 0c0-7.9-2.7-12-7.15-12s-7.15 4.1-7.15 12 2.6 11.85 7.15 11.85 7.15-3.95 7.15-11.8zM443.15 441.35c1.64-4.7 4.89-7.4 8-7.4 1.85 0 3.6.75 4.2 2.5-.05 2.3-1 3.8-3.2 3.8a5 5 0 01-3.65-1.95l-.65-.65c-2.2 1.7-3.66 4-4.7 7.55v4.2c0 2.6 0 6.5.09 9.3l4.66.7v1.6h-14.06v-1.6l3.85-.55c.1-2.85.15-6.85.15-9.45v-3.2c0-3.15-.1-5.05-.2-7.35l-4.2-.4V437l8.45-2.95.76.5zM470.19 459.4v1.6h-13.85v-1.6l4.2-.55c0-3.1.1-6.4.1-9.45v-25l-4.3-.4v-1.55l9.05-2.15.75.4-.2 7.85v20.85c0 3.05.05 6.35.1 9.45zM502.4 459.4v1.6l-9 .55-.4-3.55a9.63 9.63 0 01-7.75 3.75c-6.6 0-11.35-5.45-11.35-13.7 0-8.7 5.1-14.1 11.9-14.1a8.92 8.92 0 017.26 3.5V424.4l-4.51-.4v-1.55l9.11-2.15.75.4-.25 7.8V459zm-9.51-20.1c-2.1-1.8-3.85-2.45-5.55-2.45-4.15 0-7.7 3-7.7 11 0 7.8 3.25 10.95 7.6 10.95a7.24 7.24 0 005.65-2.65z"
          )
          path(
            v-else
            d="M112.85 442.8s3.4 2.6 5.5 4.5c-.15.55-.7.8-1.45.8H72.25l-.4-1.45H84.3V432.8H73.9l-.4-1.45h10.8V419.3l6.55.6c-.1.75-.5 1.25-1.8 1.45v10h11.4V419.3l6.65.6c-.1.75-.55 1.25-1.85 1.45v10H109l2.75-3.65s3.15 2.45 5 4.3c-.15.55-.6.8-1.3.8h-10.2v13.85h4.6zm-40.5 21.9a48 48 0 0014.4-14.6l6 3.45c-.3.5-.75.7-1.9.5a46.72 46.72 0 01-18 11.25zm16.7-18.05h11.4V432.8h-11.4zm10.55 4.55c20.05 4.55 17.85 16.35 12 13.4-2.3-4.4-8-9.75-12.45-12.9zM147.35 448.75l4.75 3.5a3.11 3.11 0 01-1.95 1v10.1c-.05.3-2.35 1.1-3.75 1.1h-.7v-2.95h-10.6v2.35c0 .35-1.4 1.3-3.55 1.3h-.75v-9.7a20.89 20.89 0 01-6.65 8.25l-.55-.55c4.8-6.6 5.35-14.8 5.35-21.75v-8.2a35 35 0 01-5.25 3.2l-.5-.45a47.42 47.42 0 0012.15-17.35l6.9 1.6c-.2.6-.7.9-2.05 1 16.55 3.5 11.9 12.65 7.9 9.85-1.1-2.9-4.1-6.65-8.35-9.3a45.42 45.42 0 01-6.55 7.85h7.15l2.35-2.9s2.65 2.05 4.3 3.55c-.15.55-.65.8-1.35.8H133l-.25-1c-1 1-2.15 1.9-3.3 2.8l4.65 1.8h10.8l2.15-2.45 4.9 3.65a4.55 4.55 0 01-2.1 1v10.35c-.1.3-2.35 1.15-3.7 1.15h-.75v-1.55H133c-.1 1-.25 2-.45 3.05l3.2 1.2h9.45zm-1.95-3.4v-3.9h-12.15c0 1.2 0 2.5-.1 3.9zm-12.15-9.25v3.9h12.15v-3.9zm12.45 23.95v-7.55h-10.6v7.55zm13.2-6.65c0 .5-1.8 1.4-3.4 1.4h-.8v-31.75l6 .6c-.1.65-.5 1.15-1.75 1.3zm11-33c-.15.7-.65 1.2-1.8 1.35v37.75c0 3.35-.7 5.3-6.25 5.85a5.15 5.15 0 00-1.05-3.25c-.7-.75-1.85-1.3-4.1-1.6v-.75s4.8.35 5.85.35c.8 0 1.05-.3 1.05-1v-39.4zM212.05 439.7l3.7-5.05s4.2 3.5 6.75 5.9c-.15.6-.75.8-1.55.8H176.7l-.5-1.65zM274.35 424.2a3.91 3.91 0 01-2.1 1.05V463c-.05.45-2.25 1.55-4 1.55h-.7v-3.35h-20.1v2.2c0 .6-1.65 1.65-3.6 1.65h-.8V421.9a6.37 6.37 0 01-1.1.1 72 72 0 01-4.6 10.1l2.4.95c-.15.45-.6.75-1.5.95v29.8c-.05.35-1.9 1.35-3.65 1.35h-.85v-27.4a44.14 44.14 0 01-5.65 6.4l-.65-.4a88.28 88.28 0 009.8-24.9l6.7 2.25v.15l3.85 1.7h19.3l2.4-2.65zm-6.8 35.5v-35.3h-20.1v35.3zm-8.2-24.85v6.75h2l1.6-1.9 3.15 3.3a3.77 3.77 0 01-1.8.8v10.9a4.34 4.34 0 01-2.95 1.1h-.65v-2.6h-6.35v2.1c0 .35-1.55 1.15-3 1.15h-.45V440l3.75 1.65h.9v-6.75H249l-.4-1.45h6.9v-7.35l5.5.5c-.1.65-.5 1.1-1.65 1.3v5.55h2.1l2.1-2.9s2.35 2.05 3.75 3.55c-.15.55-.6.8-1.3.8zm1.35 8.2h-6.35v8.7h6.35zM320.9 457.5s3.6 2.7 5.8 4.65c-.15.55-.65.8-1.4.8h-44.7l-.45-1.45h20.5v-14.85h-14.3l-.4-1.45h14.7v-12.7h-9.9a42.07 42.07 0 01-10.35 11.95l-.65-.45a67.62 67.62 0 0010.1-23.45l7 2.15c-.2.6-.8 1.05-1.95 1a62 62 0 01-3.4 7.35h9.1V419l7 .7c-.1.75-.5 1.25-1.8 1.45v9.9h9.35l3.05-3.75s3.4 2.45 5.65 4.4c-.15.55-.65.8-1.4.8H305.8v12.7h7.65l3.1-3.8s3.5 2.6 5.65 4.45c-.1.55-.65.8-1.35.8H305.8v14.85h11.9zM350 441.6a62.06 62.06 0 01-8.4 4.25 1.75 1.75 0 01-1.1 1.25l-1.25-3a11.67 11.67 0 01-6.5 7.25l-.5-.6c3.3-3.4 3.55-7.7 3.55-11.9v-8h-.05l-2.15-5.15s.85-.2 1.3-.35c2.9-1.25 6.5-5.25 7.8-7.3l6.15 2.55c-.2.5-.85.9-2 .7a45.83 45.83 0 01-8.75 4.65c3.45-.05 8.1-.2 13-.35a18.49 18.49 0 00-2.95-3.2l.45-.35c11.3 1.9 8.25 9.9 4.3 7.3a8.61 8.61 0 00-1.05-2.6c-3.65.85-8.95 1.95-14.85 2.9a2.62 2.62 0 01-1.2 1.15l4.8 1.95h8.85l2-2.35 4.7 3.55a3.55 3.55 0 01-2.1 1.05v10.7c0 2.65-.6 4.2-5.2 4.6a4 4 0 00-.75-2.4 5.42 5.42 0 00-3.1-1.15V446s3.2.25 4.1.25c.7 0 .85-.3.85-.9zm-10.25 10.2c1.6 5.5-.45 9.15-2.6 10.4-1.45.85-3.3.7-3.9-.7-.45-1.35.4-2.5 1.65-3.15a8 8 0 004.1-6.55zm.15-12.95a22.35 22.35 0 01-.25 3.55 76 76 0 0010.35-2.1v-6.1h-10.1v2c8.45-2.6 10.3 4.45 6.5 3.95a15.64 15.64 0 00-6.5-2.55zm27.55 20.95c1.5.5 1.9 1.05 1.9 1.85 0 2.05-2.1 2.5-12.2 2.5h-6.9c-5.3 0-6.45-.8-6.45-3.95v-9l6.3.55c-.1.65-.55 1.1-1.55 1.25v6.5c0 .7.25.9 2.35.9h6.65c2.6 0 4.85 0 5.75-.1.75-.05 1-.2 1.3-.65a29.69 29.69 0 002.1-5.35h.6zm-14.1-9.6c11.7 2 8.6 9.95 4.55 7.35-.65-2.45-3-5.3-5-6.95zM363 434c-4.2 0-4.95-.9-4.95-3.7v-11.4l5.75.55c-.05.65-.55 1.05-1.45 1.2v3.9h7.3l2.45-3.2s2.7 2.2 4.35 3.85c-.15.55-.6.8-1.3.8H362.3v3.65c0 .65.15.9 1.65.9h4.15c1.6 0 3.15-.05 3.75-.05a10.75 10.75 0 011.15-.1 7.88 7.88 0 001.25-.25h.5l.2.05c1.35.45 1.8.8 1.8 1.6 0 1.8-1.8 2.2-9.1 2.2zm-.45 7.2v4.15c0 .7.2.85 1.7.85h4.35c1.65 0 3.25 0 3.8-.05a1.46 1.46 0 001.1-.35 11.54 11.54 0 001.6-3.2h.55l.15 3.2c1.35.45 1.7.95 1.7 1.7 0 1.85-1.85 2.4-9.4 2.4h-4.9c-4.3 0-5.1-.85-5.1-3.75V434.7l5.9.55c-.1.65-.55 1.1-1.5 1.25v3.25h7.65l2.4-3.15s2.75 2.2 4.4 3.8a1.2 1.2 0 01-1.3.8zm6.3 11c12.7 2.9 9.25 12.15 4.8 9-.45-3-3-6.55-5.3-8.65zM89.15 354.7c-.2.55-.65.85-2 .8-2.8 6.05-7.75 14-14.75 19.15l-.5-.5c5-6.15 9-15.55 10.6-22.1zm23.35 15.4c-.4.55-1 .75-2.3.5-9.2 14.7-20.7 18.75-36.45 20.7l-.2-.85c14-3.5 25.2-8.45 32.6-23.6zm-13-24.55c-.1.7-.5 1.2-1.85 1.4v26.4c0 .75-2.35 2.4-4.2 2.4h-.65V344.9zm13.55 22.15c-1.65-4.8-6.5-10.85-10.35-14.75l.5-.4c18.35 7.25 15.25 18.8 9.85 15.15zM170.8 369.05a3 3 0 01-2 .85c-.35 12.55-1.05 18-3.1 19.9-1.35 1.25-3.3 1.55-5.65 1.55a2.94 2.94 0 00-.8-2.4 9.59 9.59 0 00-4.05-1.45l.05-.75c1.7.15 4.6.35 5.5.35a2.06 2.06 0 001.65-.5c1.15-1.1 1.7-6.8 2-17.35h-11l4.9 1.85c-.2.55-.6.8-1.8.75a14.91 14.91 0 01-1.35 2.45c9.3 1.7 6.75 7.85 3.35 5.8a16.72 16.72 0 00-4-4.9 18 18 0 01-6.75 6.05l-.45-.65c3-2.85 4.9-7.6 5.6-11.35h-5.4a53.16 53.16 0 01-4.35 3.85l4.7.45c-.1.6-.6 1.05-1.5 1.2v6.75c0 .65.15.85 1.8.85h4.45c1.75 0 3.5-.05 4.1-.05.45-.05.9-.05 1.15-.1a4.65 4.65 0 001.2-.25h.45l.2.05c1.25.45 1.7.8 1.7 1.55 0 1.7-1.7 2.2-9.25 2.2h-4.85c-4.1 0-4.8-.85-4.8-3.55v-8.55a27.59 27.59 0 01-3.4 2.15l-.1-.1v3.6c-.05.4-2.05 1.5-3.55 1.5h-.65v-4.1h-5.1v5.2c0 .5-1.55 1.5-3.4 1.5h-.7v-35.85l4.4 1.95h4.35l2.2-2.45 4.6 3.6a3.59 3.59 0 01-2.1 1.05v23.1a39.74 39.74 0 007.2-10.4 6.4 6.4 0 01-2.8.55h-.8v-19.1l4.9 2h14.35l2.1-2.55 4.4 3.4a2.91 2.91 0 01-1.9.9v13.7c0 .2-1.55 1.05-3.75 1.05H162v-1.85h-14.6l5.75 2c-.25.5-.65.65-1.9.5a33.69 33.69 0 01-2.3 2.8h15l2.35-2.45zm-36 6.2V351h-5.1v24.3zM147 349.3v5.35h15v-5.35zm15 11.75v-4.95h-15v4.95zM212.05 365.7l3.7-5.05s4.2 3.5 6.75 5.9c-.15.6-.75.8-1.55.8H176.7l-.5-1.65zM240.8 360.75c11.15 3.7 6.9 11.4 3.1 8.15a17.17 17.17 0 00-3.1-7.15v28c0 .5-2 1.45-3.7 1.45h-.9V369a42.5 42.5 0 01-8.2 10.8l-.7-.6c3.9-5.75 6.65-13.65 8.15-21.15h-6.55l-.4-1.45h7.7v-11.7l6.45.65c-.15.75-.5 1.25-1.85 1.45v9.6h1.6l2.5-3.35s2.85 2.35 4.55 4c-.1.55-.65.8-1.35.8h-7.3zm21.7.35c-.15.5-.65.8-1.55.95v27.7c-.05.35-2 1.3-3.75 1.3h-.9V365.5a49.66 49.66 0 01-13.4 11.1l-.55-.6c7.9-6.25 13.65-15.65 16.6-25h-14.4l-.4-1.45h22.75l2.8-3.7s3.15 2.55 5.1 4.35c-.15.55-.65.8-1.4.8h-8.95a50 50 0 01-4.35 9.2zm.05 1.45c16.3 5.2 13.3 15.6 8.25 12.35-1.4-4-5.5-8.85-8.75-11.95zM307.15 353.2l4.25 3.65a3.11 3.11 0 01-2 .85c-.1 20.5-.35 27.2-2.35 29.6a6.12 6.12 0 01-5.05 2.2c0-1.35-.1-2.35-.7-3a6.87 6.87 0 00-3.15-1.4v-.8c1.35.15 3.35.25 4.25.25s1.1-.1 1.45-.55c1.3-1.4 1.45-8.85 1.5-26.9h-3.65v4.75c-.05 10.6-1.9 22.15-11.4 29.1l-.65-.55c6.85-7.6 8-18.45 8-28.6v-4.7H294l-.3-1v24c0 .4-2 1.35-3.4 1.35h-.65v-4.35h-4v6c0 .4-1.45 1.4-3.2 1.4h-.6v-35l4.05 1.85h3.35l2-2.2 4.2 3.3a3 3 0 01-1.75.85v2.3h4v-9.9l5.8.6c-.1.7-.5 1.2-1.75 1.4v7.9h3.15zm-17.55 22.55v-22.9h-4v22.9zm36.9-22.55a2.51 2.51 0 01-1.55.8v32.65c-.05.4-2.15 1.5-3.75 1.5h-.7v-5.3H316v5.65c0 .5-1.55 1.55-3.4 1.55h-.75V350.1l4.35 2h4l2.15-2.3zm-6 28.2v-27.85H316v27.85zM355.45 345.7l6.2.6c-.15.7-.5 1.2-1.8 1.4v22.55c-.05 10.2-3.7 16.9-14.65 21.1l-.5-.6c6.5-3.9 9.55-8.7 10.45-15.55-1.45 1.15-3.2 2.5-5.25 3.95a1.86 1.86 0 01-1.2 1.3l-1.7-4.6V379c-.05.35-2.15 1.35-3.65 1.35h-.7V375h-4.35v7.3c0 .5-1.6 1.45-3.5 1.45h-.65v-35.7l4.35 1.95h3.7l2.15-2.25 4.35 3.4a3.15 3.15 0 01-1.7.85v23.25c1.65-.35 4.85-1.2 8.35-2.15 0-.9.1-1.85.1-2.85v-4.15h-6.35l-.45-1.45h6.8v-8.45h-6.9l-.4-1.4h7.3zm-12.8 27.8v-22.05h-4.35v22.05zm32.2-1.7s2.9 2.65 4.55 4.45c-.1.5-.65.75-1.35.75h-9.2v12.55c0 .6-2 1.7-3.8 1.7h-.85V345.7l6.4.7c-.1.7-.5 1.2-1.75 1.4v7.05h2.7l2.5-3.6s2.75 2.55 4.4 4.2c-.15.55-.65.8-1.35.8h-8.25v8.4h2.2l2.45-3.5s2.75 2.45 4.25 4.15a1.14 1.14 0 01-1.25.8h-7.65v9.5h3.45z"
          )
    svg.block.w-full(
      class="laptop:hidden"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 320 290"
    )
      image(
        width="320"
        height="290"
        xlink:href="../assets/banner-image.jpg"
        preserveAspectRatio="xMinYMin slice"
        style="opacity: 0.4532"
      )
      g(fill="#28646e")
        ClientOnly
          path(
            v-if="$i18n.locale === 'en'"
            d="M57.56 110.84c-.07 3.25-.07 6.54-.07 9.93v1.7c0 3.25 0 6.54.07 9.84l3.65.36v1.2H49.88v-1.2l3.66-.36c.1-3.23.1-6.52.1-9.84v-1.7c0-3.29 0-6.61-.1-9.93h-5.45L46.86 116h-1.8l.27-6.65h20.44L66 116h-1.76L63 110.84zM73.18 120.81c1.09-3.13 3.25-4.92 5.32-4.92a2.74 2.74 0 012.79 1.66c0 1.53-.67 2.52-2.13 2.52a3.33 3.33 0 01-2.43-1.29l-.43-.43a9.18 9.18 0 00-3.12 5v2.79c0 1.72 0 4.32.06 6.18l3.1.46v1.07H67v-1.05l2.55-.36c.07-1.9.1-4.56.1-6.28V124c0-2.09-.06-3.36-.13-4.89l-2.79-.26v-1l5.62-2 .5.33zM99.6 132.27a3.43 3.43 0 01-3.36 2 3.25 3.25 0 01-3.39-2.89c-1.93 2-3.22 3-5.55 3-2.72 0-4.78-1.6-4.78-4.46 0-2.46 1.39-4.09 6.24-5.75 1.13-.33 2.6-.76 4-1.09v-1.38c0-3.55-1-4.52-3.45-4.52a7.36 7.36 0 00-2 .27l-.56 2.46c-.27 1.39-1 2.06-2 2.06a1.6 1.6 0 01-1.75-1.46c.57-2.86 3.26-4.62 7.35-4.62s5.88 1.79 5.88 6.35v8.17c0 1.66.5 2.19 1.27 2.19.59 0 1-.26 1.52-.93zm-6.85-8.14c-1.19.33-2.32.7-3 1-2.93 1.17-3.69 2.63-3.69 4.29a2.56 2.56 0 002.82 2.83c1.2 0 2-.47 3.89-2zM120.24 132.8v1.07l-6 .36-.23-2.36a6.39 6.39 0 01-5.15 2.5c-4.39 0-7.54-3.63-7.54-9.11 0-5.78 3.39-9.37 7.91-9.37a5.91 5.91 0 014.81 2.32v-8.67l-3-.27v-1l6-1.43.5.27-.16 5.18v20.28zm-6.32-13.36a5.61 5.61 0 00-3.69-1.63c-2.76 0-5.12 2-5.12 7.32s2.17 7.28 5.06 7.28a4.8 4.8 0 003.75-1.77zM126.25 125c.1 5 2.59 7.25 6 7.25a6 6 0 005.08-2.56l.67.47a7.49 7.49 0 01-7 4.22c-5 0-8.58-3.36-8.58-9.21s4.12-9.27 8.64-9.27a7.25 7.25 0 016.78 9.1zm6.55-1.29c1.53 0 1.89-.77 1.89-2.16 0-2.46-1.56-4.36-3.82-4.36s-4.32 2-4.59 6.52zM166.83 132.27a3.43 3.43 0 01-3.36 2 3.26 3.26 0 01-3.39-2.89c-1.92 2-3.22 3-5.55 3-2.72 0-4.78-1.6-4.78-4.46 0-2.46 1.39-4.09 6.25-5.75 1.13-.33 2.59-.76 4-1.09v-1.38c0-3.55-1-4.52-3.45-4.52a7.24 7.24 0 00-2 .27l-.57 2.46c-.27 1.39-1 2.06-2 2.06a1.59 1.59 0 01-1.76-1.46c.56-2.86 3.25-4.62 7.34-4.62s5.88 1.79 5.88 6.35v8.17c0 1.66.5 2.19 1.27 2.19.59 0 1-.26 1.53-.93zm-6.83-8.14c-1.19.33-2.32.7-3 1-2.93 1.17-3.69 2.63-3.69 4.29a2.56 2.56 0 002.83 2.83c1.19 0 2-.47 3.88-2zM192.39 130a7 7 0 01-7 4.39c-5 0-8.45-3.49-8.45-9.21 0-5.88 4.16-9.27 8.91-9.27 3.33 0 6 2 6.48 4.75a1.65 1.65 0 01-1.76 1.43c-1.16 0-1.86-.7-2.09-2.06l-.6-2.56a5.38 5.38 0 00-1.76-.27c-3.23 0-5.45 2.8-5.45 7.61s2.49 7.45 6 7.45a5.91 5.91 0 005-2.59zM195.18 125.13c0-6 4.12-9.24 8.64-9.24s8.61 3.22 8.61 9.24-4 9.24-8.61 9.24-8.64-3.26-8.64-9.24zm13.39 0c0-5.25-1.79-8-4.75-8s-4.75 2.73-4.75 8 1.72 7.88 4.75 7.88 4.75-2.63 4.75-7.85zM229.31 116.32c.33-3.86 1.16-6 2.72-7.65a7.14 7.14 0 015.29-2.22c1.76 0 3.29.56 3.65 2a1.87 1.87 0 01-2.12 1.72 3.35 3.35 0 01-2.73-1.53l-.86-.86A3.81 3.81 0 00234 109c-.87 1.43-1.36 3.59-1.27 7.38h4.92v1.49h-4.85v8.28c0 2.06 0 4.15.07 6.21l3.29.43v1.07h-9.77v-1.06l2.76-.36q.09-3.15.09-6.28v-8.28h-7.64v8.28c0 2.06 0 4.15.06 6.21l3.13.43v1.07h-9.64v-1.07l2.79-.36q.1-3.15.1-6.28v-8.28h-3v-1.2l3-.36c.3-4 1.23-6 2.76-7.65a7.2 7.2 0 015.32-2.22c1.8 0 3.19.56 3.56 2a1.79 1.79 0 01-2 1.7 3.58 3.58 0 01-2.76-1.47l-.86-.83a3.68 3.68 0 00-1.3 1.3c-.86 1.4-1.33 3.52-1.23 7.25h7.31zM243.07 125c.1 5 2.59 7.25 6 7.25a6 6 0 005.09-2.56l.66.47a7.48 7.48 0 01-7 4.22c-5 0-8.57-3.36-8.57-9.21s4.12-9.27 8.64-9.27a6.66 6.66 0 017 7.08 6.76 6.76 0 01-.23 2zm6.54-1.29c1.53 0 1.9-.77 1.9-2.16 0-2.46-1.56-4.36-3.82-4.36s-4.33 2-4.59 6.52zM261.81 125c.1 5 2.59 7.25 6 7.25a6 6 0 005.08-2.56l.67.47a7.49 7.49 0 01-7 4.22c-5 0-8.58-3.36-8.58-9.21s4.12-9.27 8.64-9.27a7.25 7.25 0 016.78 9.1zm6.55-1.29c1.53 0 1.89-.77 1.89-2.16 0-2.46-1.56-4.36-3.82-4.36s-4.32 2-4.59 6.52zM19.85 165.51c.3-3.86 1.17-6 2.73-7.65a7.14 7.14 0 015.28-2.23c1.77 0 3.29.57 3.66 2 0 1-.83 1.73-2.13 1.73a3.34 3.34 0 01-2.72-1.53l-.87-.83a3.88 3.88 0 00-1.23 1.19c-.89 1.43-1.36 3.59-1.26 7.38h4.92v1.5h-4.85v8.27c0 2.06 0 4.16.06 6.22l3.26.43v1.06h-9.77V182l2.79-.37q.11-3.13.1-6.28v-8.27h-3v-1.2zM29.79 174.31c0-6 4.12-9.24 8.64-9.24S47 168.3 47 174.31s-4 9.24-8.61 9.24-8.6-3.25-8.6-9.24zm13.4 0c0-5.26-1.8-8-4.76-8s-4.75 2.72-4.75 8 1.73 7.87 4.75 7.87 4.76-2.62 4.76-7.83zM56.15 170c1.09-3.12 3.25-4.92 5.31-4.92a2.75 2.75 0 012.8 1.66c0 1.53-.67 2.53-2.13 2.53A3.29 3.29 0 0159.7 168l-.43-.43a9.12 9.12 0 00-3.12 5v2.79c0 1.73 0 4.32.06 6.19l3.09.46v1.06H50V182l2.56-.37c.07-1.89.1-4.55.1-6.28v-2.12c0-2.1-.06-3.36-.13-4.89l-2.79-.27v-1l5.61-2 .5.33zM91.54 181.46a3.44 3.44 0 01-3.36 2 3.26 3.26 0 01-3.39-2.9c-1.92 2-3.22 3-5.55 3-2.72 0-4.78-1.59-4.78-4.45 0-2.46 1.39-4.09 6.24-5.75 1.13-.33 2.6-.77 4-1.1v-1.36c0-3.56-1-4.52-3.45-4.52a7.24 7.24 0 00-2 .27l-.57 2.45c-.27 1.4-1 2.07-2 2.07a1.59 1.59 0 01-1.68-1.48c.56-2.86 3.25-4.62 7.34-4.62s5.88 1.8 5.88 6.35v8.18c0 1.66.5 2.19 1.27 2.19.59 0 1-.26 1.52-.93zm-6.85-8.14c-1.19.33-2.32.69-3 1-2.93 1.16-3.69 2.62-3.69 4.29a2.55 2.55 0 002.82 2.82c1.2 0 2-.46 3.89-2zM107.56 167.7a7.48 7.48 0 015.61-2.63c4 0 7 3.33 7 9.11 0 5.48-3 9.37-7.48 9.37a6.48 6.48 0 01-5.22-2.52l-.39 2.39-5.72-.37V182l2.62-.4c0-1.86.07-4.52.07-6.25v-16.63l-2.86-.26v-1l6-1.43.47.27-.1 5.21zm.06 12.13a5.76 5.76 0 004 1.76c2.55 0 4.78-1.93 4.78-7.28 0-5-1.93-7.34-4.65-7.34a5.74 5.74 0 00-4.16 1.83zM127.07 174.18c.09 4.95 2.59 7.25 6 7.25a6 6 0 005.09-2.56l.66.46a7.47 7.47 0 01-7 4.22c-5 0-8.57-3.35-8.57-9.2s4.12-9.28 8.64-9.28a6.66 6.66 0 017 7.08 7.18 7.18 0 01-.23 2zm6.54-1.3c1.53 0 1.9-.76 1.9-2.16 0-2.46-1.56-4.35-3.82-4.35s-4.33 2-4.59 6.51zM152.72 181.46a5.12 5.12 0 01-4.45 2.09c-2.79 0-4.36-1.43-4.36-4.48v-12h-3v-1.2l3.23-.36 1.13-5.09h2.39l-.17 5.15h4.69v1.5h-4.72v12c0 1.89.83 2.69 2.16 2.69a3.91 3.91 0 002.43-1zM165.18 181.46a5.12 5.12 0 01-4.45 2.09c-2.79 0-4.35-1.43-4.35-4.48v-12h-3v-1.2l3.22-.36 1.13-5.09h2.39l-.16 5.15h4.68v1.5h-4.72v12c0 1.89.83 2.69 2.16 2.69a3.91 3.91 0 002.43-1zM170.6 174.18c.1 4.95 2.59 7.25 6 7.25a6 6 0 005.08-2.56l.67.46a7.47 7.47 0 01-7 4.22c-5 0-8.58-3.35-8.58-9.2s4.12-9.28 8.64-9.28a6.67 6.67 0 017 7.08 6.79 6.79 0 01-.24 2zm6.55-1.3c1.53 0 1.89-.76 1.89-2.16 0-2.46-1.56-4.35-3.82-4.35s-4.32 2-4.59 6.51zM191.64 170c1.09-3.12 3.25-4.92 5.32-4.92a2.74 2.74 0 012.79 1.66c0 1.53-.67 2.53-2.13 2.53a3.29 3.29 0 01-2.43-1.3l-.43-.43a9.18 9.18 0 00-3.12 5v2.79c0 1.73 0 4.32.06 6.19l3.09.46v1.06h-9.33V182l2.55-.37c.07-1.89.1-4.55.1-6.28v-2.12c0-2.1-.06-3.36-.13-4.89l-2.79-.27v-1l5.62-2 .5.33zM236.4 166.7l-2.09.4-5.52 16.15h-1.49c-2.79-7.41-4-10.7-4.76-13.32l-4.85 13.32h-1.53L210.25 167l-2-.3v-1.13h8.61v1.13l-2.86.3 4 12.1 4.19-12-2.7-.37v-1.13h8.05v1.13l-2.76.4 4.32 11.9 3.59-11.87-3-.43v-1.13h6.71zM237.4 174.31c0-6 4.12-9.24 8.64-9.24s8.61 3.23 8.61 9.24-4 9.24-8.61 9.24-8.64-3.25-8.64-9.24zm13.39 0c0-5.26-1.79-8-4.75-8s-4.75 2.72-4.75 8 1.73 7.87 4.75 7.87 4.75-2.62 4.75-7.83zM263.75 170c1.1-3.12 3.26-4.92 5.32-4.92a2.74 2.74 0 012.79 1.66c0 1.53-.66 2.53-2.12 2.53a3.29 3.29 0 01-2.43-1.3l-.43-.43a9.19 9.19 0 00-3.13 5v2.79c0 1.73 0 4.32.07 6.19l3.09.46v1.06h-9.34V182l2.56-.37c.07-1.89.1-4.55.1-6.28v-2.12c0-2.1-.07-3.36-.13-4.89l-2.79-.27v-1l5.61-2 .5.33zM281.73 182v1.06h-9.2V182l2.79-.37c0-2.06.07-4.25.07-6.28v-16.63l-2.86-.26v-1l6-1.43.5.27-.13 5.21v13.86c0 2 0 4.22.06 6.28zM303.14 182v1.06l-6 .37-.23-2.36a6.41 6.41 0 01-5.15 2.49c-4.39 0-7.54-3.62-7.54-9.1 0-5.79 3.39-9.38 7.91-9.38a5.9 5.9 0 014.87 2.32v-8.68l-3-.26v-1l6-1.46.5.27-.17 5.18v20.27zm-6.32-13.36a5.56 5.56 0 00-3.69-1.63c-2.76 0-5.12 2-5.12 7.31s2.16 7.28 5.06 7.28a4.79 4.79 0 003.75-1.76z"
          )
          path(
            v-else
            d="M48.28,99.43V125.8H49c1.93,0,4.45-1.8,4.45-2.56v-22c1.18-.13,1.47-.59,1.56-1.18ZM57.6,106l-.37.29c3,3.28,6.67,8.19,8,12.31C70.54,122.23,73.9,111.19,57.6,106Zm-18.18-.55c-1.22,5.55-4.29,13.61-8.44,19l.37.37c6.18-4.24,10.42-10.83,12.9-16.08,1,0,1.43-.25,1.64-.72Zm20.12,12.31c-5.88,12.94-15.46,17.39-27.09,20.37l.12.63c13.53-1.34,23.35-4.7,31.29-17.35,1.09.17,1.64,0,2-.5Zm46.95-14.62v4.54H95v-4.54ZM95,113v-4.15h11.51V113Zm-14.7,12.06V104.51h3.36v20.58Zm30.08-8.61-2.4,2.35H96.54c.8-.8,1.47-1.6,2.1-2.31,1.09.13,1.43,0,1.64-.42l-5.17-1.85h11.38v1.51h.8c2.39,0,3.91-.79,3.91-1V103.5a2.41,2.41,0,0,0,1.59-.8l-4.28-3.23L106.32,102H95.45l-5-1.93v16.25h.8a7.5,7.5,0,0,0,2.1-.25,35.22,35.22,0,0,1-5.5,8.36V105.26a2.72,2.72,0,0,0,1.72-.88L85.32,101l-2.1,2.35H80.49l-4.36-1.89v30.83h.67c1.89,0,3.48-1,3.48-1.51v-4.45h3.36v3.57h.68c1.55,0,3.52-1.1,3.57-1.47v-3.07c.88-.46,1.72-1,2.6-1.51v6.8c0,2.56.63,3.36,4.33,3.36h3.9c6.13,0,7.73-.5,7.73-2.14,0-.76-.38-1.09-1.55-1.55h-.59a4.86,4.86,0,0,1-1.09.16c-.26,0-.72.09-1,.13H95.82c-1.17,0-1.3-.13-1.3-.63v-5.5c.8-.13,1.18-.51,1.26-1l-4.16-.38a31.27,31.27,0,0,0,3.66-3H99a19.41,19.41,0,0,1-4.16,9.45l.38.5a15.3,15.3,0,0,0,5.71-5,10.75,10.75,0,0,1,2.39,3.86c3.11,2,5.88-3.49-1.76-4.79a19.79,19.79,0,0,0,1-1.76c1,0,1.34-.21,1.51-.67l-4.2-1.64h8.4c-.21,9-.59,13.61-1.56,14.45a1.78,1.78,0,0,1-1.34.42c-.76,0-2.94-.17-4.33-.26v.59a7,7,0,0,1,3.32,1.35A3.37,3.37,0,0,1,105,139c2.23,0,4-.17,5.21-1.3,1.85-1.68,2.35-5.72,2.6-16.89a2.57,2.57,0,0,0,1.73-.75Zm8.27.8.38,1.34h37.63c.71,0,1.18-.21,1.3-.67-2.31-2.19-6.17-5.55-6.17-5.55l-3.49,4.88Zm55-6.68h6c.59,0,1-.21,1.1-.67-1.47-1.47-4-3.7-4-3.7l-2.26,3.15h-.8v-8.15c1.13-.17,1.47-.59,1.55-1.22l-6.34-.63v10H162.6l.34,1.22h5.38c-1.26,6.34-3.41,13-6.72,17.85l.54.46a35.25,35.25,0,0,0,6.68-7.9v17.73h1c1.8,0,3.82-1,3.82-1.43V113.5a13.58,13.58,0,0,1,1.93,5.92c3.57,3.32,8.06-3.82-1.93-6.81ZM190,112.32a38.11,38.11,0,0,0,3.53-7.6h7.14c.59,0,1.05-.21,1.17-.67-1.8-1.68-4.74-4.12-4.74-4.12l-2.65,3.57H176.17l.34,1.22H188c-2.27,7.77-6.93,15.75-13.35,21l.42.46a39.77,39.77,0,0,0,11-8.53v21H187c1.85,0,3.87-1,3.91-1.3V113.92c.8-.13,1.18-.38,1.3-.8Zm1.13,2.44c2.48,2.68,5.55,6.67,6.56,10.12,4.91,3.23,8.19-6.6-6.18-10.42Zm45.32,15.37v-23.4h2.86v23.4ZM211,125.34V106h2.64v19.32Zm30.11-22-2.1,2.27h-2.35l-4.33-1.93v5.75L228.46,106l-2.23,2.35h-1.89v-6.55c1.1-.17,1.43-.59,1.52-1.18l-5.51-.54v8.27h-2.68v-1.89a2.46,2.46,0,0,0,1.38-.67l-3.86-3.07-1.93,2.06H211.2l-4-1.76v30h.63c1.76,0,3.19-.93,3.19-1.39v-5.12h2.64v3.82h.63c1.43,0,3.36-.84,3.41-1.18V109.55h2.68V115c0,8.35-1,16.84-6.51,23l.47.46c8.19-5.37,10-14.53,10-23.43v-5.42h2.31c0,15.37-.08,21.38-1.13,22.51a1.33,1.33,0,0,1-1.22.5c-.75,0-2.31-.08-3.4-.16V133a4.81,4.81,0,0,1,2.65,1.39c.5.59.58,1.55.58,2.94a5.86,5.86,0,0,0,4.62-1.93c1.77-2.1,1.89-7.18,1.94-25.16a3.17,3.17,0,0,0,1.63-.67v28.14H233c1.89,0,3.44-1,3.44-1.56V131.3h2.86v4.79h.75c1.56,0,3.74-1.05,3.78-1.38V107.24a2.36,2.36,0,0,0,1.31-.72Zm14.32,20.08V105h3v18.4ZM269,107.78h-5.38L264,109h5v7.1h-5l.34,1.17H269V121c0,.63,0,1.22,0,1.85-2.48.63-4.71,1.22-6.09,1.51V105.52a2.52,2.52,0,0,0,1.38-.72l-4.11-3.23L258,103.79h-2.44l-4.37-1.89v30.24h.72c1.85,0,3.48-1,3.48-1.55v-6h3v4.79h.75c1.47,0,3.61-1,3.66-1.3v-2l1.3,3.53a1.71,1.71,0,0,0,1-1.17c1.34-1.14,2.52-2.19,3.57-3.15-.76,5.75-3.24,9.82-8.49,13.14l.38.42c9.58-3.4,12.89-9.15,13-17.85V101.86c1.05-.17,1.34-.59,1.43-1.17L269,100.1Zm14.28,17.39H281.3v-7.94h6c.59,0,1-.21,1.14-.67-1.39-1.55-3.78-3.86-3.78-3.86l-2.19,3.36H281.3v-7h6.55c.59,0,1-.21,1.13-.63-1.43-1.59-3.9-4-3.9-4l-2.23,3.45H281.3V102c1.13-.17,1.47-.63,1.55-1.22l-6.34-.63v38.64h.92c1.81,0,3.87-1.14,3.87-1.68V126.35h7.22c.59,0,1.05-.21,1.13-.67-1.42-1.64-4.11-4.16-4.11-4.16ZM31.52,194.78a39.27,39.27,0,0,0,16.05-9.37c1,.17,1.38-.08,1.63-.5l-6-3.53a39.28,39.28,0,0,1-12,12.94ZM53.7,183c3.74,2.69,8.15,7.18,10.12,11.13,5.84,2.9,8.36-8.7-9.79-11.47ZM46,167.31h8.65V179H46ZM62.48,179H59.62V167.31h8.19c.59,0,1-.21,1.18-.67-1.73-1.64-4.62-3.95-4.62-3.95l-2.57,3.4H59.62v-8.52c1.13-.17,1.43-.59,1.55-1.22l-6.55-.55v10.29H46v-8.52c1.13-.17,1.43-.59,1.55-1.22l-6.46-.55v10.29H32.49l.33,1.22h8.24V179H31l.37,1.17H69.2c.63,0,1.09-.21,1.21-.67-1.93-1.68-5.12-4.2-5.12-4.2Zm22.38,11.29v-6.46h7.48v6.46ZM92,170v3.36H83.18V170Zm-8.9,7.81c.08-1.18.12-2.27.12-3.28H92v3.28Zm8.86,4.83H85.41l-2.86-1.09c.17-.88.3-1.72.38-2.56h9v1.26h.76c1.47,0,3.78-.84,3.82-1.1v-8.35a3.21,3.21,0,0,0,1.72-.93l-4.58-3.4-2.14,2.35H83.9l-4.2-1.55c.84-.63,1.68-1.35,2.47-2.06l.17.63H92.67c.59,0,1-.21,1.14-.67-1.47-1.35-3.91-3.19-3.91-3.19l-2.1,2.68h-5a37.82,37.82,0,0,0,5.59-6.76,16.25,16.25,0,0,1,6,7.9c3.82,2.85,8.82-5.71-5.54-8.32,1.09-.17,1.47-.42,1.64-.92l-6.81-1.39a39.72,39.72,0,0,1-9.45,15l.34.37a32,32,0,0,0,4.24-2.56v6.39c0,5.79-.34,13-4.2,18.73l.42.42a17.8,17.8,0,0,0,5.54-6.22v7.35h.76c2.27,0,3.61-1,3.61-1.26v-1.89h7.48V194h.75c1.47,0,3.83-.79,3.87-1.05v-8.44a2.6,2.6,0,0,0,1.64-.88L94,180.25Zm12.51-22.18c1-.16,1.35-.54,1.43-1.09l-5.67-.54v26.88h.8c1.6,0,3.44-.84,3.44-1.31Zm3.36-4.45v32.85c0,.54-.21.75-.88.75-.88,0-5-.25-5-.25v.59a5.43,5.43,0,0,1,3.57,1.55,5.92,5.92,0,0,1,1,3.32c5.25-.5,5.92-2.35,5.92-5.63V157.78c1-.13,1.43-.55,1.55-1.18Zm10.84,17.31.38,1.34h37.63c.71,0,1.18-.21,1.3-.67-2.31-2.19-6.17-5.55-6.17-5.55l-3.49,4.88Zm70.52,10.2H185V175.8h4.12Zm-9.87,6.76V160.05h15.5v7.72c-1.18-1.21-2.82-2.64-2.82-2.64l-1.85,2.64H189v-4.83c1-.16,1.3-.54,1.39-1.09l-5.25-.46v6.38h-5.29l.33,1.18h5v5.67l-3.61-1.51v14.32h.5c1.47,0,3-.8,3-1.13v-1.64h4.12v2.06h.63a4.47,4.47,0,0,0,2.9-1v-9.2a3,3,0,0,0,1.55-.71l-2.86-2.94-1.47,1.72H189V169h5.17a1.28,1.28,0,0,0,.59-.13v21.42Zm17.47-34-2.39,2.6H179.53l-4.75-2.06v.3l-5.29-1.81a78,78,0,0,1-7.85,21.5l.54.3a31.94,31.94,0,0,0,4.46-4.66v22.21h.84c1.8,0,3.73-1,3.78-1.34V168.4c.84-.12,1.17-.37,1.3-.79l-2.1-.8a58.67,58.67,0,0,0,3.95-8.44h.37v36.24h.8c2,0,3.7-1.13,3.7-1.72v-1.43h15.5v2.69h.75c1.81,0,4-1.13,4.08-1.55V160.89a3.09,3.09,0,0,0,1.76-.89Zm40.11,35.15h-8.65v-12.6h12.43c.59,0,1-.21,1.13-.67-2-1.72-5.37-4.2-5.37-4.2l-2.94,3.65h-5.25V166.85h13.56c.68,0,1.14-.21,1.26-.67-2.05-1.72-5.29-4.08-5.29-4.08l-2.9,3.57h-6.63V157.4c1.13-.17,1.43-.59,1.55-1.22l-7-.67v10.16H216a42.63,42.63,0,0,0,2.77-5.92c1,0,1.51-.38,1.64-.88l-7.06-2.1a57.91,57.91,0,0,1-7.81,20l.46.38a33.19,33.19,0,0,0,9.33-10.29h7.43V177.6H210.9l.34,1.22h11.55v12.6H206l.33,1.22h37.89c.63,0,1.09-.21,1.22-.67-2.1-1.77-5.51-4.37-5.51-4.37Zm49.64-17c.59,0,1.05-.21,1.18-.67-1.6-1.51-4.24-3.66-4.24-3.66l-2.31,3.15h-5.21V170.5c.8-.12,1.18-.46,1.26-1l-5.8-.51v9.28c0,2.82.72,3.66,4.71,3.66H280c6.3,0,8.07-.59,8.07-2.44,0-.71-.34-1.22-1.56-1.72l-.17-2.6h-.42a8.93,8.93,0,0,1-1.51,2.6,1.47,1.47,0,0,1-1,.34c-.5,0-1.68,0-2.85,0h-3.32c-1.13,0-1.26-.17-1.26-.67v-3.07Zm-19.27,7.73a12.13,12.13,0,0,1,3.61,5.79c3.9,2.65,7.26-5-3.24-6.09Zm12.47-13.48c6.17,0,7.9-.38,7.9-2.19,0-.71-.42-1.09-1.68-1.59l-.17,0h-.42a5,5,0,0,1-1.18.21c-.25.05-.75.09-1.13.13s-1.68,0-2.82,0H277c-1.13,0-1.3-.21-1.3-.71v-2.9H286c.59,0,1-.21,1.14-.67-1.6-1.51-4.25-3.66-4.25-3.66l-2.31,3.15h-4.91V157c.8-.13,1.22-.5,1.26-1.09l-5.67-.46v9.7c0,2.69.76,3.53,4.62,3.53Zm-24.23,14.23a5.83,5.83,0,0,1-3.07,5,2.62,2.62,0,0,0-1.72,3,2.47,2.47,0,0,0,3.65,1.05c2-1.05,3.49-4.33,1.72-9.08Zm1.26-11.29a12.81,12.81,0,0,1,4.62,2.14c3.52.42,2.18-6.09-4.62-3.53V168.7h7.51v5a65.58,65.58,0,0,1-7.72,1.63,16.63,16.63,0,0,0,.21-2.73Zm7.51,6c0,.5-.12.76-.71.76s-3.19-.21-3.19-.21v.58a3.86,3.86,0,0,1,2.52,1.1,4.44,4.44,0,0,1,.63,2.39c4.37-.42,5-1.81,5-4.28v-8.45a2.9,2.9,0,0,0,1.72-.88l-4.45-3.32-1.94,2.27h-7.09v0h.67l-4.2-1.55a2.48,2.48,0,0,0,.92-.93c4.75-1,8.86-2,11.8-2.81a8.06,8.06,0,0,1,.8,2.22c3.87,2.61,7.1-4.95-3.11-6l-.33.29a12.51,12.51,0,0,1,2,2.4c-3.69.08-7.22.16-10,.16a35.91,35.91,0,0,0,7.56-3.52,1.37,1.37,0,0,0,1.55-.63l-6.17-2.27c-1,1.59-3.91,4.91-6.22,5.84-.42.16-1.13.33-1.13.33l2,4.75-.37-.13v7c0,3.48-.13,7.14-2.82,9.95l.34.42a10,10,0,0,0,6-5.8l1.14,2.57a1.54,1.54,0,0,0,1-1,61.76,61.76,0,0,0,6.13-3.74ZM279.36,185h-.46a21.34,21.34,0,0,1-2.06,4.45,1.39,1.39,0,0,1-1.26.59c-.75,0-2.47,0-4.28,0h-5.38c-1.59,0-1.76-.12-1.76-.71v-5.17c.84-.12,1.22-.5,1.3-1.05l-6.26-.5V190c0,3.11,1.1,3.87,6,3.87h5.58c8.57,0,10.59-.38,10.59-2.48,0-.8-.38-1.39-1.85-1.85Zm.55-1.26c1.89,1.81,3.82,4.75,4.16,7.39,4.37,3.11,8-5.79-3.78-7.68Z"
          )
</template>
